/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  
    Created on : 08-12-2016, 09:58:24
    Author     : Mushi
*/
/*
*{
    border:1px solid black;
}
*/
@font-face {
    font-family: HelveticaLtEx;
    src: url("fonts/HelveticaNeueLTStd-LtEx.otf") format("opentype");
}
@font-face {
    font-family: HelveticaRo;
    src: url("fonts/HelveticaNeueLTStd-Roman.otf") format("opentype");
}
@font-face {
    font-family: fontawesome;
    src: url("fonts/fontawesome-webfont.ttf");
}
#header{
    width:100%;
    height: 14%;
    background: url("images/header_bg.jpg") center;
    background-repeat: no-repeat;
    float: left;
}
#header img {
    width: 40%;
}
#logo{
    width: auto;
    height: 100%;
    float:left;
    max-height: 96px;
    max-width: 351px;
    padding: 5px;
}
#navBar{
    margin-top: -90px;
    width: 50%;
    height: 50px;
    float: right;
}
#navBar ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 100%;
    max-width: 100%;
}
#navBar ul li{
    float:left;
    width:20%;
    max-height: 100%;
}


#navBar ul li a:hover{
    background-color: #414bc2;
    color: white;
}
#navBarMobile{
    width:100%;
    height: 50px;
    max-height: 50px;
}
#navBarMobile ul{
    padding:0;
    margin: 0;
    list-style-type: none;
    height: 100%;
    width: 100%;
}
#navBarMobile ul li{
    float:left;
    width: 20%;
    max-height: 100%;
}

#navBarMobile ul li a:hover{
    background-color: white;
    color: #414bc2;
    border-top: solid 5px #414bc2;
    border-bottom: solid 5px #414bc2;
}
#HInfo {
    font-family: helveticaRo;
    font-size: 2vmin; 
    max-width: 100%;
}
#HInfo h1 {
    height: auto;
    margin: 9%
}
#preinfo{
    height: auto;
    margin: 9% 0 4%;
    font-family: helveticaRo;
    font-size: 5vmin;
    text-align: center;
}
#preinfo h1 {
    font-size: 3vmin;
}

#portfolioButton{
    height: auto;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
#portfolioButton a{
    background-color: violet;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: black;
    display: block;
    font-size: 20px;
}
#portfolio{
    width: 100%;
}
#gallery {
    width: 320px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    display: none;
}
#galleryLoad {
    font-family: helveticaRo;
    font-size: 5vmin;
    display: block;
}
.side a {
    display: block;
    color: #414bc2;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    padding-bottom: 15%;
    padding-top:15%;
    font-family: HelveticaLtEx;
    width: 100%;
    height: 100%;
    border-bottom: solid 2px #414bc2;
}
.sideNu a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #414bc2;
    padding-bottom: 15%;
    padding-top:15%;
    font-family: HelveticaLtEx;
    width: 100%;
    height: 100%;
    border-bottom: solid 2px #414bc2;
}
.sideM a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color:#414bc2;
    padding-top: 17%;
    padding-bottom: 17%;    
    font-family: HelveticaLtEx;
    width: 100%;
    height: 100%;
    border-top: solid 5px #414bc2;
    border-bottom: solid 5px #414bc2;
}
.sideNuM a {
    background-color: white;
    color: #414bc2;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 17%;
    padding-bottom: 17%;    
    font-family: HelveticaLtEx;
    width: 100%;
    height: 100%;
    border-top: solid 5px #414bc2;
    border-bottom: solid 5px #414bc2;
}
.kontakt {
    max-height: 100%;
}
.person{
    display: inline-block;
    width:45%;
    height: 90px;
    margin-top: 25px;
    border:1px solid black;
    overflow:hidden;
    min-width: 15em;
}
.person img {
    max-height: 50%;
    max-width: 50%;
    width: auto;
    height: auto;
}

.package{
    display: inline-block;
    max-width: 40%;
    margin-left: 6.5%;
    margin-top: 25px;
    overflow:hidden;
    border: solid 3px #414bc2;
    border-radius: 7px;
    text-align: left;
}
.package p {
    font-family: helveticaLtEx;
    font-size: 5vmin;
    padding: 0 5%;
}
.package span {
    font-family: helveticaRo;
    font-size: 3vmin;
    padding: 0 5%;
}
.package img {
    width: 100%
}
.advice{
    display: inline-block;
    width: 40%;
    margin: 25px 7px;
    overflow: hidden;
    text-align: center;
    font-family: HelveticaRo;
    font-size: 2.7vmin;
}
.advice img {
    height: auto;
    max-width: 25%;
    padding: 0 20% 3%;
    border-bottom: solid 1px black;
    margin-bottom: 2%;
}
.person img{
    float:left;
}
.person span {
    font-family: helveticaRo;
    font-size: 3vmin;
}
.personImage{
    width:20%;
    height:20%;
    margin: 7px;
}
.top{
    position: fixed;
    right: 2%;
    bottom: 5%;
    font-family: fontawesome;
    font-size: 40px;
    color: #414bc2;
    text-decoration: none;
}
.clear {
    clear: both;
}
@media only screen and (max-width: 320px)
{
    body{
        margin: 0;
        padding: 0;
    }
    #preinfo{
        min-width: 75%;
    }
    .person{
        min-width:75%;
    }
    .package{
        min-width:75%;
    }
    .advice{
        min-width: 75%;
        margin: 25px 7px;
    }
    #navBar{
        display:none;
    }
    #navBarMobile ul li a{
        font-size: 3.3vmin;
    }
}
@media only screen and (min-width: 320px)
{
    body{
        margin: 0;
        padding: 0;
    }
    #preinfo{
        min-width: 75%;
        font-size: 2.3vmax
    }
    .person{
        min-width:75%;
    }
    .package{
        min-width:75%;
    }
    .advice{
        min-width: 75%;
        margin: 25px 7px;
    }
    #navBar{
        display:none;
    }
    #navBarMobile ul li a{
        font-size: 3.3vmin;
    }
}
@media only screen and (min-width: 480px)
{
    body{
        margin: 0;
        padding: 0;
    }
    #preinfo{
        min-width: 75%;
    }
    .person{
        min-width: 75%;
    }
    .person span {
        font-size: 15px;
    }
    .package{
        min-width: 60%;
    }
    .advice{
        min-width: 75%;
        margin: 25px 7px;
    }
    #navBar{
        display:none;
    }
    
    #navBarMobile ul li a{
        padding-bottom: 10%;
        padding-top: 10%;
        font-size: 13px;
    }
    #gallery {
        width: 480px;
    }
}
@media only screen and (min-width: 768px)
{
    #navBar{
        display:none;
    }
    #navBarMobile ul li a{
        padding-bottom: 7%;
        padding-top: 7%;
        font-size: 16px;
    }
    #gallery {
        width: 768px;
        height: 540px;
    }
    #preinfo {
        font-size: 2.3vmax;
        margin-top: 5%;
    }
    .person{
    display: inline-block;
    min-width:300px;
    margin: 25px 10px 0;
    border:1px solid black;
    overflow:hidden;
}

.package{
    display: inline-block;
    min-width: 50%;
    margin-left: 4%;
    margin-top: 25px;
    border: solid 5px #414bc2;
    overflow:hidden;
}
.advice{
    display: inline-block;
    width: 40%;
    margin: 25px 7px;
    overflow: hidden;
}
}
@media only screen and (min-width: 1024px)
{
    #navBar{
        display:block;
    }
    #navBarMobile{
        display:none;
    }
    #gallery {
        width: 940px;
        height: 740px;
    }
    #preinfo {
        font-size: 22px;
        margin-top: 5%;
    }
    .person{
    display: inline-block;
    min-width:300px;
    margin: 25px 10px 0;
    border:1px solid black;
    overflow:hidden;
}

.package{
    display: inline-block;
    max-width: 40%;
    margin-left: 3%;
    margin-top: 25px;
    overflow:hidden;
    border: solid 5px #414bc2;
}
.advice{
    display: inline-block;
    width: 40%;
    margin: 25px 7px;
    overflow: hidden;
    min-width: 15em;
}
#logo {
    padding: 10px;
}
}
@media only screen and (min-width: 1280px)
{
    #wrapper {
        align-content: center;
        max-width: 1280px;
    }
    #navBar{
        display:block;
    }
    #navBarMobile{
        display:none
    }
    #preinfo {
        margin-top: 5%;
    }
    #gallery {
        width: 940px;
        height: 740px;
    }
    .person{
    display: inline-block;
    width:40%;
    margin-top: 25px;
    border:1px solid black;
    overflow:hidden;
    min-width: 15em;
}

.package{
    display: inline-block;
    max-width: 40%;
    margin-top: 25px;
    overflow:hidden;
    min-width: 15em;
    border: solid 5px #414bc2;
}
.advice{
    display: inline-block;
    width: 35%;
    margin: 25px 3.5%;
    overflow: hidden;
    min-width: 15em;
    font-size: 2.5vmin;
}
}


